# 0. Import Library

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import time

sns.set_theme()

In [ ]:
df = pd.read_csv('data/kill_match_stats_v2.csv')
df.head()

  killed_by type  time  phase  dis    kx    ky    vx    vy
0     M16A4   AR  1035      2  194  4970  3126  4978  3320
1       AKM   AR  1422      4    7  4604  4147  4598  4144
2       AKM   AR  1210      3    8  4880  3472  4874  3477
3       SKS  DMR  1818      7  124  5011  4251  4930  4345
4      M416   AR  1766      7   85  4955  4298  4958  4383

## 3.2. Câu hỏi 2
**Câu hỏi:** <span style = "color:red">Những vị trí nào giao tranh nhiều?</span>

**Ý nghĩa:** Trên bản đồ sẽ có những khu vực giao tranh nhộn nhịp hơn những khu vực khác, biết được các khu vực này giúp player chọn nơi nhảy dù, trú ẩn phù hợp với lối chơi của mình
- Ví dụ player thích thử thách, nâng cao kỹ năng, có thể chọn các khu vực đông đúng, giao tranh xảy ra liên tục
- Nếu người chơi chọn lối chơi sinh tồn có thể chọn các khu vực yên ắng, ít người

**Phân tích:** Câu hỏi này có thể trả lời dễ dàng bằng phân bố tọa độ 2 chiều đã làm ở `Data Understanding`